addons/metamod/
addons/sourcemod/bin/
addons/sourcemod/configs/**
!addons/sourcemod/configs/toxic_spots/
!addons/sourcemod/configs/toxic_spots/**
addons/sourcemod/translations/**
!addons/sourcemod/translations/ff2*.txt
!addons/sourcemod/translations/freedom_abilities.phrases.txt
!addons/sourcemod/translations/rps4points.phrases.txt
addons/sourcemod/data/
addons/sourcemod/extensions/
addons/sourcemod/gamedata/
addons/sourcemod/logs/
addons/sourcemod/plugins/
addons/sourcemod/scripting/**
!addons/sourcemod/scripting/antisolorage.sp
!addons/sourcemod/scripting/bossmode.sp
!addons/sourcemod/scripting/damagetracker.sp
!addons/sourcemod/scripting/deadrun_helper.sp
!addons/sourcemod/scripting/ff2*.sp
!addons/sourcemod/scripting/hudminmode.sp
!addons/sourcemod/scripting/pyrogineer.sp
!addons/sourcemod/scripting/respawn_tickets.sp
!addons/sourcemod/scripting/rps4points.sp
!addons/sourcemod/scripting/streaker.sp
!addons/sourcemod/scripting/toxicspots.sp
!addons/sourcemod/scripting/tts.sp
!addons/sourcemod/scripting/vshbots_*.sp
!addons/sourcemod/scripting/freaks/
!addons/sourcemod/scripting/freaks/**
!addons/sourcemod/scripting/include/
addons/sourcemod/scripting/include/**
!addons/sourcemod/scripting/include/POTRY.inc
!addons/sourcemod/scripting/include/drain_over_time*.inc
!addons/sourcemod/scripting/include/ff2_ams.inc
!addons/sourcemod/scripting/include/ff2_dynamic_defaults.inc
!addons/sourcemod/scripting/include/freak_fortress_2*.inc
addons/sourcemod/GPLv2.txt
addons/sourcemod/GPLv3.txt
addons/sourcemod/LICENSE.txt
bin/
cfg/
custom/
download/
downloadLists/
maps/
materials/
media/
models/
replay/
resource/
scripts/
sound/**
!sound/war3source/
!sound/war3source/**
*.*~
*.bak
*.bz2
*.ztmp

/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/.hg_archival.txt
/gameinfo.txt
/GPL*.txt
/item_whitelist_example.txt
/LICENSE.txt
/mapcycle.txt
/motd.txt
/stats.txt
/umc_mapcycle.txt
/*.vbsp
/*.vdf
/*.vpk
